{% extends 'base.html.twig' %}

{% block title %}Pilot{% endblock %}

{% block body %}
    <h1>Pilot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pilot.id }}</td>
            </tr>
            <tr>
                <th>PilotFirstName</th>
                <td>{{ pilot.pilotFirstName }}</td>
            </tr>
            <tr>
                <th>PilotLastName</th>
                <td>{{ pilot.pilotLastName }}</td>
            </tr>
            <tr>
                <th>PilotAge</th>
                <td>{{ pilot.pilotAge }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pilot_index') }}">back to list</a>

    <a href="{{ path('pilot_edit', {'id': pilot.id}) }}">edit</a>

    {{ include('pilot/_delete_form.html.twig') }}
{% endblock %}
