{% extends 'base.html.twig' %}

{% block title %}Stable index
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}
	<h1>Stable index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>StableName</th>
				<th>StableFirstColor</th>
				<th>StableSecondColor</th>
				<th>stableChampionship</th>
				<th>stablePilots</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for stable in stables %}
				<tr>
					<td>{{ stable.id }}</td>
					<td>{{ stable.stableName }}</td>
					<td>{{ stable.stableFirstColor }}</td>
					<td>{{ stable.stableSecondColor }}</td>
					<td>{{ stable.championship.championshipName }}</td>
					<td>
						{% for stablePilot in stable.pilots %}
							{{ stablePilot.pilotFirstName }}
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('stable_show', {'id': stable.id}) }}">show</a>
						<a href="{{ path('stable_edit', {'id': stable.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('stable_new') }}">Create new</a>
{% endblock %}
