{% extends 'base.html.twig' %}

{% block title %}Championship index
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}
	<h1>Championship index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>ChampionshipName</th>
				<th>ChampionshipYear</th>
				<th>ChampionshipDescription</th>
				<th>ChampionshipStable</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for championship in championships %}

				<tr>
					<td>{{ championship.id }}</td>
					<td>{{ championship.championshipName }}</td>
					<td>{{ championship.championshipYear ? championship.championshipYear|date('Y-m-d') : '' }}</td>
					<td>{{ championship.championshipDescription }}</td>
					<td>
						{% for championshipStable in championship.stables %}
							{{ championshipStable.stableName }}
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('championship_view' , {'id' : championship.id}) }}">
							<button>Lien</button>
						</a>
					</td>
				</tr>


			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
