{% extends 'base.html.twig' %}

{% block title %}Pilot view
{% endblock %}

{% block body %}
{% include "header.html.twig" %}
<h1>Pilot view</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>PilotFirstName</th>
			<th>PilotLastName</th>
			<th>PilotAge</th>
			<th>PilotStable</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ pilot.id }}</td>
			<td>{{ pilot.pilotFirstName }}</td>
			<td>{{ pilot.pilotLastName }}</td>
			<td>{{ pilot.pilotAge }}</td>
			<td>
				{% for PilotStable in pilot.stable %}
					{{ PilotStable.stableName }}
				{% endfor %}
			</td>
		</tr>

	</tbody>
</table>
<a href="{{ path('pilots_index') }}">
	<button>Return</button>
</a {% endblock %}
