{% extends 'base.html.twig' %}

{% block title %}stable index
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}
	<h1>Stable index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>StableName</th>
				<th>StableYear</th>
				<th>StableDescription</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>{{ stable.id }}</td>
					<td>{{ stable.stableName }}</td>
					<td>{{ stable.stableYear ? stable.stableYear|date('Y-m-d') : '' }}</td>
					<td>{{ stable.stableDescription }}</td>
				</tr>

		</tbody>
	</table>
        <a href="{{ path('stables_index' , {'id' : stable.id}) }}"><button>Return</button></a
{% endblock %}